#footer {
    .footer-container {
        max-width: 75rem;
        padding: 64px 0;
        margin: 0 auto;
        .connect-container {
            max-width: 960px;
            margin: 0 auto;
            padding-bottom: 32px;
            text-align: center;
            .connect-logo {
                font-size: 24px;
                font-weight: 700;
            }

            .connect-title {
                line-height: 56px;
                font-size: 32px;
                margin-top: 32px;
            }

            .connect-invite {
                font-size: 18px;
                color: #667085;
                margin-top: 32px;
            }

            .connect-button {
                padding: 12px 40px;
                border: 1px solid #d0d5dd;
                border-radius: 50rem;
                margin-top: 32px;
                display: inline-block;
                .label {
                    line-height: 24px;
                    color: #344054;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }

        .footer-copyright {
            font-size: 18px;
            color: #667085;
        }

        .footer-socials {
            display: flex;
            align-items: center;
            gap: 24px;
            .social-item {
                .social-link {
                    .social-image {
                        height: 24px;
                        width: 24px;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 78rem) {
    #footer {
        .footer-container {
            padding: 32px 16px;
        }
    }
}

@media (max-width: 36rem) {
    #footer {
        .footer-container {
            .connect-container {
                .connect-title {
                    line-height: 2.25rem;
                    margin-top: 16px;
                }

                .connect-invite {
                    font-size: 14px;
                    margin-top: 16px;
                }

                .connect-button {
                    padding: 6px 20px;
                    margin-top: 16px;
                    .label {
                        font-size: 0.875rem;
                    }
                }
            }

            .footer-meta {
                flex-wrap: wrap;
                flex-direction: column-reverse;
                gap: 16px;

                .footer-copyright {
                    font-size: 14px;
                }
            }

            .footer-socials {
                .social-item {
                    .social-link {
                        .social-image {
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}
